<header>
  {{input value=search
          id="search-txt"
          class="search-txt"
          enter=(perform searchCards search)}}

  {{#if searchCards.isRunning}}
    <img src="assets/images/loading.gif" id="loading-img">
  {{/if}}
</header>

<div id="cardlist">
  {{#each cards as |card|}}
    {{card-item card=card}}
  {{else}}
    {{#if (and search searchPerformed)}}
      <div class="cardlist-message">
        Nothing found for "{{searchPerformed}}".
      </div>
    {{/if}}
  {{/each}}
</div>

<footer></footer>
