{{#card-loader query=query as |loader|}}
  <div class="card-search-input">
    {{input
      placeholder=placeholderText
      value=search
      id="search-txt"
      class="search-txt"}}

    {{# if loader.loading}}
      <img src="assets/images/loading.gif" id="loading-img">
    {{/if}}
  </div>

  <div class="cardlist">
    {{#each loader.cards as |card|}}
      {{card-item class="card-row" card=card}}
    {{else}}
      {{#if loader.lastQuery}}
        <div class="cardlist-message">
          Nothing found for "{{loader.lastQuery}}".
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="card-search-footer"></div>
{{/card-loader}}
