{{card-search-input
  class="card-search-input"
  cardsDidLoad=(action "cardsDidLoad")
  cardSearchFocus=(action "cardSearchFocus")}}

{{card-list
  class="cardlist"
  cards=cards
  performedSearch=performedSearch}}

<div class="card-search-footer"></div>
