{{input
  placeholder=placeholderText
  value=search
  id="search-txt"
  class="search-txt"}}

{{#if searchCardsTask.isRunning}}
  <img src="assets/images/loading.gif" id="loading-img">
{{/if}}

{{#each cards as |card|}}
  {{card-item class="card-row" card=card}}
{{else}}
  {{#if performedSearch}}
    <div class="cardlist-message">
      Nothing found for "{{performedSearch}}".
    </div>
  {{/if}}
{{/each}}

<div class="card-search-footer"></div>
