{{card-search-input
  class="card-search-input"
  search=search
  searchTextInputAction=(action "searchTextInputAction")
  searchCardsTask=searchCardsTask}}

{{card-list
  class="cardlist"
  cards=cards
  performedSearch=performedSearch}}

<div class="card-search-footer"></div>
