body {
  background: #cccccc;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input#search {
  width: 100%;
  display: block;
}

div.search {
  display: flex;
  margin: 10px;
}

/* vim: set ts=2 sts=2 sw=2 : */
