/*
    Color scheme from:
    https://color.adobe.com/Das-Boot-color-theme-189112/
*/

html, body {
  height: 100%;
  width: 100%;
  background-color: #666a73;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /* -webkit-app-region: drag; */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* disable text selection so it doesn't seem like a web app */
  /* -webkit-user-select: none; */
  border: 1px solid #444;
  border-radius: 4px;
  height: 100%;

  > .ember-view {
    height: 100%;

    > .ember-view {
      height: 100%;
    }
  }
}

.card-search {
  height: 100%;
  display: flex;
  flex-flow: column;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.card-search-input {
  margin-bottom: 15px;
  display: block;
  flex: 0 0 auto;
}

.card-search-footer {
  height: 15px;
  flex: 0 0 15px;
}

#loading-img {
  position: absolute;
  right: 20px;
  width: 34px;
  height: 34px;
}

textarea, input, button { outline: none; }

::selection {
  background-color: #aaa;
  color: #000;
}

input#search-txt {
  -webkit-app-region: no-drag;
  background-color: #d9d1c7;
  border: none;
  border-radius: 4px;
  color: #000;
  width: 100%;
  position: relative;
  float: left;
  box-sizing: border-box;
  height: 37px;
  padding: 6px;
  font-size: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, 0);
}

.cardlist {
  background-color: #d9d1c7;
  overflow-y: scroll;
  flex: 1 1 auto;
  border: none;
  font-size: 14px;
  -webkit-app-region: no-drag;
  font-weight: 400;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, 0);
  margin-bottom: 15px;
}

.cardlist::-webkit-scrollbar {
  width: 5px !important;
}

.cardlist-message {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-row {
  background-color: #f2ede4;
  display: flex;
  color: #000;
  flex-direction: row;
  padding: 6px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-text {
  flex: 1 1 auto;
}

.card-flavor {
  font-style: italic;
  margin-top: 15px;
  flex: 0 0 auto;
}

.card-img-container {
  width: 200px;
  height: 279px;
  border-radius: 4px;
  background-image: url('../assets/images/example_card.jpg');
  background-repeat: no-repeat;
  background-position: left-top;
  background-size: 100%;
  vertical-align: middle;
  flex: 0 0 auto;
  margin: 6px;
}

.card-img {
  vertical-align: middle;
  opacity: 0;
  overflow: hidden;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.card-img.card-img-loaded {
  opacity: 1 !important;
}

.mana-img {
  border: 1px solid #666;
  border-radius: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
}

hr.card-name-separator {
  border: none;
  height: 1px;
  background-color: #ccc;
  flex: 0 0 auto;
  width: 100%;
}

.card-header {
  display: flex;
  flex: 0 0 auto;
}

.card-type {
  flex: 0 0 auto;
  margin-bottom: 15px;
}

.card-extra {
  flex: 0 0 auto;
}

.card-legality {
  flex: 0 0 auto;
  margin-top: 15px;
}

.card-name {
  font-size: 20px;
  flex: 1 0 auto;
  color: #000;
}

.card-mana-cost {
  flex: 1 0 auto;
  text-align: right;
}

.card-information {
  flex: 1 1 auto;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
  padding-bottom: 25px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

/* vim: set ts=2 sts=2 sw=2 : */
