// color scheme is from https://color.adobe.com/Das-Boot-color-theme-189112/

$color1: #2f3540;
$color2: #666a73;
$color3: #f2ede4;
$color4: #d9d1c7;
$color5: #8c8681;

$page-bg-color: $color2;
$page-font-family: 'Raleway', sans-serif;
