html, body {
  height: 100%;
  width: 100%;
  background-color: #202020;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* -webkit-user-select: none; */
  /* -webkit-app-region: drag; */
  border: 1px solid #444;
  border-radius: 4px;
}

header {
  margin-bottom: 15px;
  flex: 0 0 auto;
}

footer {
  height: 15px;
  flex: 0 0 15px;
}

hr.card-name-separator {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.window {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

#loading-image {
  position: absolute;
  right: 20px;
  display: none;
  width: 34px;
  height: 34px;
}

textarea, input, button { outline: none; }

::selection {
  background-color: #fff;
  color: #000;
}

input#search {
  background-color: #404040;
  border: none;
  border-radius: 4px;
  float: left;
  position: relative;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  height: 37px;
  padding: 6px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, 0);
}

#cardlist-div {
  overflow-y: scroll;
  flex: 1 1 auto;
  background-color: #404040;
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, 0);
  margin-bottom: 15px;
}

#cardlist-div::-webkit-scrollbar {
  width: 5px !important;
}

.card-row {
  display: flex;
  background-color: #a0a0a0;
  color: #000;
  flex-direction: row;
  padding: 6px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-text {
}

.card-flavor {
  font-style: italic;
  margin-top: 15px;
}

.align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.card-image {
  vertical-align: middle;
  flex: 0 0 auto;
  margin-left: -4px;
  border-radius: 4px;
}

img {
  vertical-align: middle;
}

.card-header {
  display: flex;
}

.card-name {
  font-weight: bold;
  flex: 1 0 auto;
  color: #000;
}

.card-mana-cost {
  flex: 1 0 auto;
  text-align: right;
}

.card-information {
  flex: 1 1 auto;
  padding-left: 15px;
  padding-top: 6px;
}

/* vim: set ts=2 sts=2 sw=2 : */
